import { Component } from '@angular/core';

@Component({
  selector: '<%= selector %>-form',
  templateUrl: './<%= dasherize(name) %>-form.component.html',
  styleUrls: ['./<%= dasherize(name) %>-form.component.scss']
})
export class <%= classify(name) %>FormComponent {
}
